@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

body {
  overflow-y: hidden;
  min-height: 100vh;
  background-image: linear-gradient(#4cd3c8, #005767);
  margin: 0 auto;
  text-align: center;
  font-family: "League Spartan";
}

p {
  color: black;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

button {
  margin: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  background-color: rgb(200, 196, 196);
  cursor: pointer;
}

#introDialog {
  border-radius: 1rem;
  background-color: aliceblue;
}

.pillar-container {
  width: 100px;
  height: 900px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(45deg);
}

@keyframes diamondAnimation {
  0% {
    transform: translateY(0) rotateY(0deg) rotateX(2deg) rotateZ(359deg)
      scaleX(0.3) scaleZ(0.3);
  }
  50% {
    transform: translateY(-20px) rotateY(180deg) rotateX(2deg) rotateZ(359deg)
      scaleX(0.3) scaleZ(0.3);
  }
  100% {
    transform: translateY(0) rotateY(360deg) rotateX(2deg) rotateZ(359deg)
      scaleX(0.3) scaleZ(0.3);
  }
}
@keyframes glowAnimation {
  0% {
    transform: translateY(0) rotateY(140deg) rotateX(2deg) rotateZ(359deg)
      scaleX(0.3) scaleZ(0.3);
  }
  50% {
    transform: translateY(-20px) rotateY(180deg) rotateX(2deg) rotateZ(359deg)
      scaleX(0.3) scaleZ(0.3);
  }
  100% {
    transform: translateY(0) rotateY(220deg) rotateX(2deg) rotateZ(359deg)
      scaleX(0.3) scaleZ(0.3);
  }
}
@keyframes sphereAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* @keyframes turningAnimation {
  from {
    transform: rotateY(0deg) rotateX(2deg) rotateZ(359deg);
  }
  to {
    transform: rotateY(360deg) rotateX(2deg) rotateZ(359deg);
  }
} */

.sphere {
  width: 100px;
  height: 100px;
  top: 23rem;
  left: 75rem;
  position: absolute;
  border-radius: 50%;
  background-image: radial-gradient(circle at 35% 30%, #6dc5e3, #8781bf);
  animation: sphereAnimation 8s infinite alternate;
  cursor: pointer;
  box-shadow: none;
}

/* pillar faces */

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}
.front {
  transform: translateZ(50px);
  background-color: #ec8b82;
}
.back {
  transform: rotateY(180deg) translateZ(50px);
  background-color: #ec8b82;
}
.right {
  transform: rotateY(90deg) translateZ(50px);
  background-color: #ec8b82;
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
  background-color: #ec9d7c;
}
.top {
  height: 100px;
  transform: rotateX(90deg) translateZ(50px);
  background-color: #fac6a3;
}
.bottom {
  height: 100px;
  transform: rotateX(-90deg) translateZ(50px);
  background-color: #ec8b82;
}

/* diamond faces */

.facet {
  width: 0;
  height: 0;
  position: absolute;
  border: 100px solid transparent;
  border-bottom: 100px solid;
  border-top: 0px;
}
.one {
  transform: rotateX(30deg);
  transform-origin: 0 0;
  border-bottom-color: #26c5f5;
}
.two {
  transform-origin: 100px 0;
  transform: rotateY(90deg) rotateX(-30deg);
  border-bottom-color: #63d1f9;
}
.three {
  transform-origin: 100px 0;
  transform: rotateY(270deg) rotateX(-30deg);
  border-bottom-color: #b5ebfe;
}
.four {
  transform-origin: 100px 0;
  transform: rotateY(0) rotateX(-30deg);
  border-bottom-color: hsl(195, 62%, 90%);
}
.up {
  transform-style: preserve-3d;
  transform: rotateX(180deg) translateY(-500px);
}
.down {
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateY(327px);
}

.dia-wrapper {
  cursor: pointer;
  transform-origin: 7rem 20rem;
  position: absolute;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: diamondAnimation 6s infinite linear;
  transform: rotateY(300deg) rotateX(2deg) rotateZ(359deg) scaleX(0.1);
  /* animation: turningAnimation 8s linear;   */
  left: 15rem;
}

/* pillar positions */

#one {
  position: absolute;
  top: 10rem;
  left: 46.8rem;
}

#two {
  position: absolute;
  left: 51.1rem;
  top: 20rem;
}

#three {
  position: absolute;
  left: 42.4rem;
  top: 30rem;
}

.diamondGlow {
  visibility: hidden;
  width: 700px;
  height: 300px;
  top: 16.7rem;
  left: 0.5rem;
  position: absolute;
  /* border-radius: 50%; */
  /* background-image: linear-gradient(#ffffff, #ffffff3a,#8781bf00, #8781bf00); */
  animation: glowAnimation 6s infinite linear;
  cursor: pointer;
  z-index: -1;
}
