body {
  overflow-y: hidden;
  min-height: 100vh;
  background-image: linear-gradient(#4cd3c8, #005767);
}

.pillar-container {
  width: 100px;
  height: 900px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(45deg);
}

@keyframes diamondAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes turningAnimation {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

.sphere {
  width: 100px;
  height: 100px;
  top: 30rem;
  left: 75rem;
  position: absolute;
  border-radius: 50%;
  background-image: radial-gradient(circle at 35% 30%, #6dc5e3, #8781bf);
  animation: diamondAnimation 8s infinite alternate;
}

.diamond-container {
  width: 100px;
  height: 100px;
  top: 20rem;
  left: 20rem;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(45deg);
}

.diamond-wrapper {
  transform-origin: 20rem 20rem;
  animation: turningAnimation 10s infinite alternate;
  position: absolute;
  transform-style: preserve-3d;
  /* animation: diamondAnimation 10s infinite alternate; */
}

/* pillar faces */

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}
.front {
  transform: translateZ(50px);
  background-color: #ec8b82;
}
.back {
  transform: rotateY(180deg) translateZ(50px);
  background-color: #ec8b82;
}
.right {
  transform: rotateY(90deg) translateZ(50px);
  background-color: #ec8b82;
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
  background-color: #ec9d7c;
}
.top {
  height: 100px;
  transform: rotateX(90deg) translateZ(50px);
  background-color: #fac6a3;
}
.bottom {
  height: 100px;
  transform: rotateX(-90deg) translateZ(50px);
  background-color: #ec8b82;
}

/* diamond faces */

.facet {
  position: absolute;
  width: 100%;
  height: 100%;
}
.one {
  transform: translateZ(50px);
  border-top: 50px solid transparent; /* Controls the height of the triangle */
  border-bottom: 50px solid transparent; /* Controls the height of the triangle */
  border-left: 100px solid #738adf;
}
.two {
  transform: rotateY(180deg) translateZ(50px);
  border-top: 50px solid transparent; /* Controls the height of the triangle */
  border-bottom: 50px solid transparent; /* Controls the height of the triangle */
  border-left: 100px solid #eafafd;
}
.three {
  transform: rotateY(90deg) translateZ(50px);
  border-top: 50px solid transparent; /* Controls the height of the triangle */
  border-bottom: 50px solid transparent; /* Controls the height of the triangle */
  border-right: 100px solid #d1f8ff;
}
.four {
  transform: rotateY(-90deg) translateZ(50px);
  border-top: 50px solid transparent; /* Controls the height of the triangle */
  border-bottom: 50px solid transparent; /* Controls the height of the triangle */
  border-right: 100px solid #98e5fd;
}
/* .five {
  transform: translateZ(50px) rotateY(0deg) rotateX(54.74deg);
  border-top: 50px solid transparent; 
  border-bottom: 50px solid transparent; 
  border-left: 100px solid #738adf;
}
.two {
  transform: rotateY(180deg) translateZ(50px);
  border-top: 50px solid transparent; 
  border-bottom: 50px solid transparent; 
  border-left: 100px solid #eafafd;
}
.three {
  transform: rotateY(90deg) translateZ(50px);
  border-top: 50px solid transparent; 
  border-bottom: 50px solid transparent; 
  border-right: 100px solid #d1f8ff;
}
.four {
  transform: rotateY(-90deg) translateZ(50px);
  border-top: 50px solid transparent; 
  border-bottom: 50px solid transparent; 
  border-right: 100px solid #98e5fd;
} */

/* pillar positions */

#one {
  position: absolute;
  top: 10rem;
  left: 46.8rem;
}

#two {
  position: absolute;
  left: 51.1rem;
  top: 20rem;
}

#three {
  position: absolute;
  left: 42.4rem;
  top: 30rem;
}
